.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.navbar a {
  font-size: 2rem;
  color: white;
}


.drink-icon {
  font-size: 7rem;
}

p {
  font-family: 'Merienda One', cursive;
    color: black;
    font-weight: bold;
}

#search-cocktail.button {
  background-color: black;
  color: white;
}