.card-image:last-child img {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    object-fit: contain;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#no-results {
    display: flex;
    justify-content: center;
}

.title.has-text-centered {
    font-family: 'Merienda One', cursive;
    color: black;
    font-size: 40px;
    font-weight: bold;
}

#search-ingredient {
    background-color: black;
    color: white;
}

.label {
    white-space: nowrap;
}
